html, body{
	height: 100%; 
	width: 100%; 
    overflow: hidden; 
    background-color: #F6F7F6; 

}

#container {
    height: 100%; 
	width: 100%; 
/*
        overflow: hidden; 
*/
}

section{
	height: 100%;
	width: 100%; 
	
	/*relative to body*/
	position: absolute; 

	/*background-color: rgba(255,255,0,1); */
    z-index: 99; 
}

#background-logo{
    position: absolute;/*relative to body*/
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    width: 75%; 
    /*height: 75%; */

    text-align: center; 
    font-size: 50px; 
    z-index: 98; 
}

#viewport-section{
	margin-left: 0%; 
}

#right-section{
	margin-left: 110%; 
}

#left-section{
	margin-left: -110%; 
}

.nav-menu{
	position: fixed;
	margin: 20px; 
    z-index: 100; 
}
.nav-menu.collapsed{
    opacity: 0.0; 
    visibility: hidden;
}

.nav-menu.expanded{
    
}

.nav-menu#right-side{
    right: 0; 
    text-align: right;
}

/* Project template file */
.project-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-45%);
    -webkit-transform: translateX(-50%) translateY(-45%);
    width: 75%; 
    height: 70%; 
    background-color: #fff; 
}
.project-container .img-container{
        position: relative;
        height: 90%; 
        overflow: hidden;
}
.project-container img{
        position: absolute;
        height: 100%;  
        left: 50%;
        transform: translateX(-50%); 
        -webkit-transform: translateX(-50%); 
}
.project-container .img-footer{
        height: 10%; 
        text-align: center;
        /*background-color: #00f; */
}

.project-container .text-container{
    position: absolute;
    left: 50%;
    top: 50%; 
    opacity: 0.0; 
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    /*background-color: #00f; */
}

.additional-section .text-container{
    opacity: 1.0; 
}




.img-nav-element {

}
.img-nav-element#right{
}

.img-nav-element#left{

}