// $light-color: #F3F3F4; 
$light-color: rgb(230, 230, 230); 

$dark-color: #0023E8; 
$half-dark-color: rgba(0,35,232, 0.5) ;

$break-s: 480px;
$break-m: 1024px; 

$menu-margin: 20px; 
$img-footer-margin: 10px; 

$body-font-size: 14px; 
$body-line-height: 16px; 


html, body{
	height: 100%; 
	width: 100%; 
    overflow: hidden; 
    background-color: $light-color; 
    color: $dark-color; 
    position: relative; 
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    font-size: $body-font-size; 
    line-height: $body-line-height; 
    @media screen and (max-width: $break-s){
        font-size: $body-font-size*0.8; 
        line-height: $body-line-height*0.8;
    }


}


#container {
    height: 100%; 
	width: 100%; 
    overflow: hidden; 
}

#bg-container{
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 100%; 
}

#about-container{
    height: 100%; 
    width: 100%; 
    position: absolute; 
    top: -100%; 
    // margin-top: -100vh; 
    z-index: 101; 
    background-color: $dark-color; 
    color: $light-color; 
}

a, a:visited, a:active, a:focus{ 
    text-decoration: underline; 
    color: $dark-color;
}
a:hover {
    text-decoration: none; 
    color: $dark-color;
}

.nav-menu{
    a{
        display: inline; 
        text-decoration: none; 
        pointer-events: auto;
    }
    .disabled, .disabled:focus, .disabled:hover{
        // display: none; 
        text-decoration: line-through; 
        pointer-events: none;
    }
}

section{
	height: 100%;
	width: 100%; 
	
	/*relative to body*/
	position: absolute; 

	/*background-color: rgba(255,255,0,1); */
    z-index: 99; 
}



#background-logo{
    position: absolute;/*relative to body*/
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
    z-index: 98; 

    //Text
    width: 75%; 
    text-align: center; 
    font-size: $body-font-size*3; 
    @media screen and (max-width: $break-s){
        font-size: $body-font-size*2;
    }
    
}

#background-logo-img{
    position: absolute;/*relative to body*/
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 98; 

    width: 30%; 
}
.viewport-section{
	margin-left: 0%; 
}

.right-section{
	margin-left: 110%; 
}

.left-section{
	margin-left: -110%; 
}

.nav-menu{
	position: fixed;
	margin: $menu-margin; 
    z-index: 100; 
    max-width: 80%; 
}
.nav-menu.collapsed{
    opacity: 0.0; 
    visibility: hidden;
}

.nav-menu.expanded{
    
}

#right-side{
    right: 0; 
    text-align: right;
}

/* Project template file */
.project-container {
    position: relative;
    // padding-top: 20%; 
    width: 100%; 
    height: 100%; 
    // overflow: hidden; 
}

.viewport-section#project-images{
    
}

.img-project-container{
    position: absolute; 
    width: 60%; 
    height: 75%; 
    @media screen and (max-width: $break-m){
        width: 90%; 
    }
    top: 55%;
    left: 50%;
    overflow: hidden; 
    transform: translateY(-50%) translateX(-50%); 
    .img-container{
        position: relative;
        height: 80%; 
        width: 100%; 
        max-height: 550px;
    }

    img{
        position: absolute;
        height: 100%; 
        left: 50%;
        transform: translateX(-50%); 
        opacity: 0.0; 
        visibility: hidden; 
    }

    .img-footer{
        padding: $img-footer-margin; 
        height: 10%; 
        text-align: center;
    }    
}


.viewport-section#project-info{
    visibility: hidden; 
    opacity: 0.0; 
}

.text-container-wrapper{
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 100%; 
    overflow: hidden;
    background-color: $light-color;  
        .project-info-title{
            text-transform: uppercase; 
            text-align: center;

        }
        @media screen and (max-width: $break-m){
            top: 20%; 
            height: 80%; 
        }

}

.text-container{
    position: absolute;
    padding-top: $menu-margin; 
    left: 50%;
    transform: translateX(-50%); 
    width: 40%; 
    padding-bottom: $menu-margin;
    @media screen and (max-width: $break-m){
        width: 80%;  
        padding-top: 0; 
        // top: 10%; 
    }
}    

#about-container{
    .nav-menu{
        position: absolute;
        margin: $menu-margin; 
        z-index: 103; 
        max-width: 80%; 
    }
    #about-link-close{
        color: $light-color; 
    }
    .project-container{
        background-color: $dark-color;  
        color: $light-color; 
        .text-container{
            top: 50%;
            left: 50%; 
            transform: translateY(-50%) translateX(-50%);
        }
    }

    a, a:visited, a:active, a:focus, a:hover{ 
        color: $light-color; 
    }
}


.additional-section .text-container{
    opacity: 1.0; 
}


// Scrollbar
.ps-scrollbar-y-rail{
    position: absolute;
    right: 0px; 
    width: 8px;
    height: 100%; 
    background-color: $half-dark-color; 
    top: 0; 


    .ps-scrollbar-y {
        top: 0; 
        right: 0; /* there must be 'right' for ps-scrollbar-y */
        width: 8px;
        position: absolute;
        height: 100%; 
        background-color: $dark-color; 
    }
}

//video
iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
}
.iframe-aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
}


