/*
Error: Invalid CSS after "        transform": expected ";", was ": translateY(-5..."
        on line 133 of ../src/sass/global.scss

128:         left: 50%;
129:         transform: translateX(-50%); 
130: 
131:         // Uncomment lines below if content's height is less then wrapper's 
132:         top: 50%
133:         transform: translateY(-50%);
134:     }
135: }
136: 
137: .additional-section .text-container{
138:     opacity: 1.0; 

Backtrace:
../src/sass/global.scss:133
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:1167:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:1096:in `tok!'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:761:in `block in try_declaration'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:1141:in `call'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:1141:in `rethrow'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:766:in `try_declaration'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:696:in `declaration_or_ruleset'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:661:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:642:in `block'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:712:in `declaration_or_ruleset'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:661:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:642:in `block'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:636:in `ruleset'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"        transform\": expected \";\", was \": translateY(-5...\"\A         on line 133 of ../src/sass/global.scss\A \A 128:         left: 50%;\A 129:         transform: translateX(-50%); \A 130: \A 131:         // Uncomment lines below if content's height is less then wrapper's \A 132:         top: 50%\A 133:         transform: translateY(-50%);\A 134:     }\A 135: }\A 136: \A 137: .additional-section .text-container{\A 138:     opacity: 1.0; "; }
